<div class="container">
    <div class='jumbotron'><h3>Starfleet Staffing Services</h3></div>
    <div class='row'>
        <div class='col-xs-12 alert-{{alert.type}}' ng-show='alert.type !== ""'>{{alert.msg}}</div>
    </div>
    <div class='row'>
        <div class='col-xs-6'>
            <div class='panel'>
                <div class='panel-header'>Manage Officers</div>
                <div class='panel-body'>
                    <div class='btn-group-vertical col-xs-6'>
                        <button class='btn btn-primary' ng-click="setOperation('createOfficer')">Create Officer</button>
                        <button class='btn btn-alternate' ng-click="setOperation('updateOfficer')">Update Officer</button>
                        <button class='btn btn-alternate' ng-click="setOperation('deleteOfficer')">Remove Officer</button>
                        <button class='btn btn-alternate' ng-click="setOperation('listAllOfficers')">List All Officers</button>
                        <button class='btn btn-alternate' ng-click="setOperation('listAllOfficersByspecies')">List All Officers By Species</button>
                        <button class='btn btn-alternate' ng-click="setOperation('listAllUnassignedOfficers')">List All Unassigned Officers</button>
                    </div>
                    
                    <div class='col-xs-6' ng-show='operation === "createOfficer"'>
                        <label>Rank:</label> <select ng-model="newOfficer.rank"><option ng-repeat='rank in ranks' value='{{rank.number}}'>{{rank.title}}</option></select><br />
                        <label>First Name:</label> <input ng-model="newOfficer.fname" /><br />
                        <label>Last Name:</label> <input ng-model="newOfficer.lname" /><br />
                        <label>Tech Level:</label> <select ng-model='newOfficer.techLevel'><option ng-repeat='level in techLevel' value='{{level}}'>{{level}}</option></select><br />
                        <label>Species:</label> <select ng-model="newOfficer.species"><option ng-repeat='species in species' value='{{species.code}}'>{{species.name}}</option></select><br />
                        <label>Status:</label> <select ng-model="newOfficer.status"><option ng-repeat='status in statuses' value='{{status}}'>{{status}}</option></select><br />
                        <button class='btn btn-primary' ng-click="run()">Create Officer</button>
                    </div>
                    <div class='col-xs-6' ng-show='operation === "updateOfficer"'>
                        <label>Select an Officer:</label> <select ng-model='existingOfficer.officer' ng-change='getOfficer()'><option ng-repeat='officer in officers' value='{{officer.serviceNumber}}'>{{officer.fname}} {{officer.lname}}</option></select><br />
                        <label>Rank:</label> <select ng-model="existingOfficer.rank"><option ng-repeat='rank in ranks' value='{{rank.number}}'>{{rank.title}}</option></select><br />
                        <label>First Name:</label> <input ng-model="existingOfficer.fname" /><br />
                        <label>Last Name:</label> <input ng-model="existingOfficer.lname" /><br />
                        <label>Tech Level:</label> <select ng-model='existingOfficer.techLevel'><option ng-repeat='level in techLevel' value='{{level}}'>{{level}}</option></select><br />
                        <label>Species:</label> <select ng-model="existingOfficer.species"><option ng-repeat='species in species' value='{{species.code}}'>{{species.name}}</option></select><br />
                        <label>Status:</label> <select ng-model="existingOfficer.status"><option ng-repeat='status in statuses' value='{{status}}'>{{status}}</option></select><br />                        
                        <button class='btn btn-primary' ng-click="run()">Update Officer</button>
                    </div>
                    <div class='col-xs-6' ng-show='operation === "deleteOfficer"'>
                        <label>Select an Officer:</label> <select ng-model='officerToDelete.officer'><option ng-repeat='officer in officers' value='{{officer.serviceNumber}}'>{{officer.fname}} {{officer.lname}}</option></select><br />
                        <button class='btn btn-primary' ng-click='run()'>Delete Officer</button>                        
                    </div>                    
                    
                </div>
            </div>
        </div>
        <div class='col-xs-6'>
            <div class='panel'>
                <div class='panel-header'>Manage Positions</div>
                <div class='panel-body'>
                    <div class='btn-group-vertical col-xs-6'>
                        <button class='btn btn-primary' ng-click="setOperation('createPosition')">Create Position</button>
                        <button class='btn btn-alternate' ng-click="setOperation('updatePosition')">Update Position</button>
                        <button class='btn btn-alternate' ng-click="setOperation('removePosition')">Remove Position</button>      
                        <button class='btn btn-alternate' ng-click="setOperation('listAllVacantPositions')">List All Vacant Positions</button>
                    </div>
                    
                    <div class='col-xs-6' ng-show='operation === "createPosition"'>

                    </div>
                    <div class='col-xs-6' ng-show='operation === "updatePosition"'>
                    </div>
                    <div class='col-xs-6' ng-show='operation === "removePosition"'>
                    </div>                     
                </div>                
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-6'>
            <div class='panel'>
                <div class='panel-header'>Manage Starships</div>
                <div class='panel-body'>
                    <div class='btn-group-vertical col-xs-6'>
                        <button class='btn btn-primary' ng-click="setOperation('commissionStarship')">Create Starship</button>
                        <button class='btn btn-alternate' ng-click="setOperation('updateStarship')">Update Starship</button>
                        <button class='btn btn-alternate' ng-click="setOperation('decommissionStarship')">Remove Starship</button> 
                    </div> 

                    <div class='col-xs-6' ng-show='operation === "commissionStarship"'>
                        <label>Name:</label> <input type='text' ng-model='newShip.name' /><br />
                        <label>Class:</label> <select ng-model='newShip.class'><option ng-repeat='class in classes'><option value='{{class.id}}'>{{class.name}}</option></select>
                        <button class='btn btn-primary' ng-click='run()'>Commission Starship</button>                        
                    </div>
                    <div class='col-xs-6' ng-show='operation === "updateStarship"'>
                    </div>
                    <div class='col-xs-6' ng-show='operation === "decommissionStarship"'>
                        <label>Name:</label> <select ng-model='shipToDecommission.id'><option ng-repeat='ship in starships'><option value='{{ship.registryNumber}}'>{{ship.name}}</option></select>
                        <button class='btn btn-primary' ng-click='run()'>Decommission Starship</button>
                    </div>                    
                </div>
            </div>
        </div>
        <div class='col-xs-6'>
            <div class='panel'>
                <div class='panel-header'>Manage Classes</div>
                <div class='panel-body'>
                    <div class='btn-group-vertical col-xs-6'>
                        <button class='btn btn-primary' ng-click="setOperation('createClass')">Create Class</button>
                        <button class='btn btn-alternate' ng-click="setOperation('updateClass')">Update Class</button>
                        <button class='btn btn-alternate' ng-click="setOperation('removeClass')">Remove Class</button>      
                    </div>
                    
                    <div class='col-xs-6' ng-show='operation === "createClass"'>
                        <label>Name:</label> <input type='text' ng-model='newClass.name' /><br />
                        <select ng-model='newClass.category'><option ng-repeat='category in categories' value='{{category}}'>{{category}}</option></select>
                        <label>New Class:</label> <input type='text' ng-model='newClass.crewSize' /><br />
                        <label>Max Speed:</label> <input type='text' ng-model='newClass.maxSpeed' /><br />
                        <label>Fuel Capacity:</label> <input type='text' ng-model='newClass.fuelCapacity' /><br />
                        <label>Tech Level:</label> <select ng-model='newClass.techLevel'><option ng-repeat='level in techLevel' value='{{level}}'>{{level}}</option></select>
                        <div ng-if='newClass.category === "Battleship"'>
                            <label>Phaser Strength:</label> <input type='text' ng-model='newClass.phaserStrength' /><br />
                            <label>Torpedo Type:</label> <input type='text' ng-model='newclass.torpedoType' /><br />
                        </div>
                        <div ng-if='newClass.category === "Explorer"'>
                            <label>Region Specialty:</label> <input type='text' ng-model='newClass.regionSpecialty' /><br />
                        </div>
                        <div ng-if='newClass.category === "Science"'>
                            <label>Sensor Range:</label> <input type='text' ng-model='newClass.sensorRange' /><br />
                            <label>Lab Type:</label> <input type='text' ng-model='newclass.labType' /><br />                            
                        </div>
                        
                    </div>
                    <div class='col-xs-6' ng-show='operation === "updateClass"'>
                        <label>Name:</label> <input type='text' ng-model='updateClass.name' /><br />
                        <select ng-model='updateClass.category'><option ng-repeat='category in categories' value='{{category}}'>{{category}}</option></select>
                        <label>New Class:</label> <input type='text' ng-model='updateClass.crewSize' /><br />
                        <label>Max Speed:</label> <input type='text' ng-model='updateClass.maxSpeed' /><br />
                        <label>Fuel Capacity:</label> <input type='text' ng-model='updateClass.fuelCapacity' /><br />
                        <label>Tech Level:</label> <select ng-model='updateClass.techLevel'><option ng-repeat='level in techLevel' value='{{level}}'>{{level}}</option></select>
                        <div ng-if='updateClass.category === "Battleship"'>
                            <label>Phaser Strength:</label> <input type='text' ng-model='updateClass.phaserStrength' /><br />
                            <label>Torpedo Type:</label> <input type='text' ng-model='updateclass.torpedoType' /><br />
                        </div>
                        <div ng-if='updateClass.category === "Explorer"'>
                            <label>Region Specialty:</label> <input type='text' ng-model='updateClass.regionSpecialty' /><br />
                        </div>
                        <div ng-if='updateClass.category === "Science"'>
                            <label>Sensor Range:</label> <input type='text' ng-model='updateClass.sensorRange' /><br />
                            <label>Lab Type:</label> <input type='text' ng-model='updateclass.labType' /><br />                            
                        </div>                        
                    </div>
                    <div class='col-xs-6' ng-show='operation === "deleteClass"'>
                        <label>Name:</label> <select ng-model='classToDelete.id'><option ng-repeat='class in classes' value='{{class.id}}'>{{class.id}}</option></select>
                    </div>  
                    
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-12'>
            <div class='panel'>
                <div class='panel-header'>Report Outputs</div>
                
                <div ng-show='operation === "listAllOfficers"'>
                    <table class='table'>
                        <tr>
                            <th>Service Number</th>
                            <th>Rank</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Species</th>
                            <th>Tech Level</th>
                            <th>Status</th>
                        </tr>
                        <tr ng-repeat='officer in officers'>
                            <td>{{officer.serviceNumber}}</td>
                            <td>{{ranks[officer.rank].title}}</td>
                            <td>{{officer.fname}}</td>
                            <td>{{officer.lname}}</td>
                            <td>{{officer.species}}</td>
                            <td>{{officer.techLevel}}</td>
                            <td>{{officer.status}}</td>
                        </tr>
                    </table>
                </div>
                
                <div ng-show='operation === "listAllOfficersBySpecies"'>
                    <table class='table'>
                        <tr>
                            <th>Species</th>
                            <th>Count</th>
                        </tr>
                        <tr ng-repeat='row in speciesCount'>
                            <td>{{row.species}}</td>
                            <td>{{row.count}}</td>
                        </tr>
                    </table>
                </div>
                
                <div ng-show='operation === "listAllUnassignedOfficers"'>
                    <table class='table'>
                        <tr>
                            <th>Rank</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Species</th>
                        </tr>
                        <tr ng-repeat='officer in unassignedOfficers'>
                            <td>{{officer.rank}}</td>
                            <td>{{officer.fname}}</td>
                            <td>{{officer.lname}}</td>
                            <td>{{officer.species}}</td>
                        </tr>
                    </table>
                </div>
                
                <div ng-show='operation === "listAllVacantPositions"'>
                    <table class='table'>
                        <tr>
                            <th>Ship</th>
                            <th>Position</th>
                        </tr>
                        <tr ng-repeat='position in vacantPositions'>
                            <td>{{position.name}}</td>
                            <th>{{position.position_name}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>