<div class="container">
    <div class='row'>
        <div class='col-xs-12'>Hello, {{name}}!</div>
    </div>
    <div class='row'>
        <div class='col-xs-6'>
            <div class='panel'>
                <div class='panel-header'>Manage Officers</div>
                <div class='panel-body'>Say stuff here</div>
            </div>
        </div>
        <div class='col-xs-6'>
            <div class='panel'>
                <div class='panel-header'>Manage Starships</div>
                <div class='panel-body'>Say more stuff here.</div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-6'>
            <div class='panel'>
                <div class='panel-header'>Manage Positions</div>
                <div class='panel-body'>This and Manage Starships should probably swap positions.</div>
            </div>
        </div>
        <div class='col-xs-6'>
            <div class='panel'>
                <div class='panel-header'>Manage Classes</div>
                <div class='panel-body'>Even more things should go here.</div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-12'>
            <div class='panel'>
                <div class='panel-header'>Report Outputs</div>
                <div class='panel-body'>This is where the output of reports can go</div>
            </div>
        </div>
    </div>
</div>